# Diretórios
/bin/
/obj/
/packages/
/tmp/

# Arquivos temporários
*.suo
*.user
*.csproj.user
*.vbproj.user

# Logs
*.log
*.output

# Arquivos do Visual Studio
*.vshost.exe
*.publish.xml

# Arquivos do Entity Framework
*.mdf
*.ldf
*.bak

# Arquivos de teste
*.testsettings
*.TestResults

# Arquivos específicos do seu projeto
# (Adicione aqui arquivos ou diretórios específicos que você não deseja que sejam versionados)